#root {
    width: auto;
    overflow-x: hidden;
    background-color: #F3F3F3;
  }

.price {
  margin-bottom: 0;
  color: #840032;
  font-weight: bold;
}

#nav-dropdown{
    color: whitesmoke;
}

.overlayName{
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 3px 2px #000, -1px 3px 2px #000;
}

.menu-text{
  color: whitesmoke;
}

.menu-background{
  background-color: #002642;
}